@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body{
  background: #ECF0F3;
}

.scrollbar-hide { 
  overflow: auto; 
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  
}

.social-icons {
  display: inline-block;
  cursor: pointer;
}

.social-icons .social-icons-path {
  fill: #828282;  
  transition: fill 0.3s ease-in-out;
}

.social-icons:hover .social-icons-path {
  fill: #017EFE;  
}
